/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2015, 3:59:57 PM
    Author     : fr_user
*/

#commit ::-webkit-input-placeholder {
    margin-top: 30px;
    text-align: center;
}
#commit :-moz-placeholder {
    /* Firefox 18- */
    margin-top: 30px;
    text-align: center;
}
#commit ::-moz-placeholder {
    /* Firefox 19+ */
    margin-top: 30px;
    text-align: center;
}
#commit :-ms-input-placeholder {
    margin-top: 30px;
    text-align: center;
}


.diff-number{
    border-right: 2px solid #ddd;
    background-color: #f5f5f5;
    width: 60px;
    text-align: right;
    color: #00907c;
    padding-right:10px !important;
    
}
table.diff >tbody>tr>td{
    border-top:none !important;
}
table.diff >tbody>tr.diff-type-1>td{
    background-color: #dff0d8;
}

table.diff >tbody>tr.diff-type-2>td{
    background-color: #f2dede;
}

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    margin-left: 55px;
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 2%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: none;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    color: #333 !important;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}

.issue-state{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
} 

.issue-state-open{
   background-color: #3f903f; 
   color: #fff;
}

.issue-state-closed{
   background-color: #d9534f; 
   color: #fff;
}

.issue-label{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
} 

.issue-label.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}   

.index-status{
    display:inline-block;
    width: 40px;
}

.work-tree-status{
    display:inline-block;
    width: 40px;
}

.status{
    padding:5px;
    color: #fff;
}

.status.status-modified{
    background: #23b7e5;
}

.status.status-added{
    background: #27c24c;
}

.status.status-deleted{
    background: #f05050;
}

.status.status-untracked{
    background: #3a3f51;
}

.status.status-unmerged{
    background: #ff902b;
}

.status.status-copied{
    background: #929292;
}

.status.status-ignore{
    background: #929292;
}

.login-box, .register-box {
    width: 400px;
    margin: 3% auto;
    background: #fff;
    padding: 20px;
    box-shadow: 5px 5px 10px #888888;
}

.login-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    margin-left: 0;
    position: fixed;
    bottom:0;
    width: 100%;
}

.login-page, .register-page {
    background: #d2d6de;
}

.login-page:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url('../../images/screenshot.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(5px) grayscale(.9) opacity(0.9);
  -moz-filter: blur(5px) grayscale(.9) opacity(0.9);
  -o-filter: blur(5px) grayscale(.9) opacity(0.9);
  -ms-filter: blur(5px) grayscale(.9) opacity(0.9);
  filter: blur(5px) grayscale(.9) opacity(0.9);

}


.alert-header {
    position: relative;
    padding: 15px 15px 0 15px;
}

