{% extends "VersionContolGitControlBundle::admin.layout.html.twig" %}

{% block content -%}
  
    <div class="row">
        <div class="column">
            <h1>version control system</h1>
            
            <h2>Current Branch: {{branchName}}</h2>
            
            <p>test Hello!</p>
        </div>
    </div>

{% endblock %}
