/app/web/bundles/
/app/app/bootstrap.php.cache
/app/app/cache/*
/app/app/config/parameters.yml
/app/app/logs/*
!app/app/cache/.gitkeep
!app/app/logs/.gitkeep
/app/build/
/app/vendor/
/app/bin/
/app/composer.phar
/app/Documentation/*.mwb.bak
/nbproject/
.idea
