{% extends "VersionControlGitControlBundle::layout.html.twig" %}

{% block content -%}

    <h1 class="page-header">
           Error
          <small>An error has occured</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
        </li>
        <li class="active">
            <i class="fa fa-file"></i> Projects
        </li>
    </ol>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
            <div class="col-lg-12">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Projects: </h3>
            </div>

            </div>
        </div>
        <div class="panel-body">
            {}
        </div>
    </div>
          
{% endblock %}