{% extends "VersionContolGitControlBundle::layout.html.twig" %}

{% block sidemenu -%}
 {% include 'VersionContolGitControlBundle::Project/sidemenu.html.twig'  %}
{% endblock %}

{% block content -%}
    <h1 class="page-header">
        Edit Issue #{{issue.id}}: <small>{{issue.title}}</small>
    </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-file"></i> <a href="{{path('issues', { 'id': project.id }) }}">Issues</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Edit Issue
            </li>
        </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-bug fa-fw"></i> Edit Issue
            </h3>
        </div>
        <div class="panel-body">
 
                {{ form(edit_form) }}
                
        </div>
    </div>
{% endblock %}